# Dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Testing
/coverage

# Production
/build
*.aab
*.apk

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.hprof

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - IntelliJ
.idea/
*.iml
*.iws
.idea-workspace
*.ipr

# Metro
.metro-health-check*
.metro/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
debug.log
logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment Variables
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env*.local

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Temporary files
*.swp
*.swo
*~
.temp
.tmp

# Cache
.cache/
.npm
.eslintcache

# Project specific
app-example/
__tests__/coverage/
google-services.json
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifact
*.jsbundle